<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Techynox</title>
  </head>
  <body>
    <h1>hiii</h1>
    <h1 id="apiData">ff</h1>
    <div id="output"></div>
    <form action="/createUser" method="POST" id="signup">
      <div class="mb-3 px-5">
        <label for="1" class="form-label">Input Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3 px-5">
        <label for="2" class="form-label">nama</label>
        <input
          type="text"
          class="form-control"
          id="Nama_user"
          placeholder="name"
        />
      </div>
      <div class="mb-3 px-5">
        <label for="3" class="form-label">pass</label>
        <input
          type="password"
          class="form-control"
          id="Password"
          placeholder="pass"
        />
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
  <script>
    const apiUrl = "https://api-production-5c4d.up.railway.app";

    // const apiUrl = "localhost:8080"

    // Make a GET request
    
    document
      .getElementById("signup")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        var formData = new FormData(this);

        fetch(apiUrl+ "/createUser", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            var outputDiv = document.getElementById("output");
        outputDiv.innerHTML = "<p>All Items:</p><ul>";
        data.aduh.forEach(function (item) {
          outputDiv.innerHTML += "<li>" + item.nama + "</li>";
        });

        outputDiv.innerHTML += "</ul>";
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
  </script>
</html>
